#home {
  background-image: url("https://res.cloudinary.com/dlgvxohur/image/upload/v1606774892/gv8etqalnxbvnru57dkb.png");
  width: 100%;
  height: 100vh;
  background-size: 100%;
}
#fondo {
  background-image: url("https://res.cloudinary.com/dlgvxohur/image/upload/v1606774895/vs9068jr2i8tjecook0e.png");
  width: 100%;
  height: 100vh;
  background-size: 100%;
}
#juego {
  background-image: url("https://res.cloudinary.com/dlgvxohur/image/upload/v1606774886/qdik77w5e0lvewzdn3ty.png");
  width: 100%;
  height: 100vh;
  background-size: 100%;
}
.offset-1 {
  margin-left: 42px !important;
}
